@model Gospodarstwo.Models.ViewModels.HomeDataVM;
@{
    ViewData["Title"] = "Home Page";
}

@if (User.IsInRole("admin") || User.IsInRole("author"))
{
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card col-lg-12 col-md-6 text-center">
                    <img src="~/photo/zboze.jpg" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Moje Gospodarstwo</h5>
                        <p class="card-text">
                            Dodaj nowe przedmioty
                        </p>
                        <a href="@Url.Action("Create", "Items")" class="btn btn-primary">Dodaj >>></a>
                    </div>
                </div>

            </div>
            @foreach (var item in Model.Items)
            {
                <div class="carousel-item">
                <div class="card col-xl-12 col-lg-8 col-md-6 text-center">
                    <img src="~/img/@item.Graphic" class="card-img-top" alt="..." width="150">
                    <div class="card-body">
                        <h5 class="card-title">@item.ItemName</h5>
                        <p class="card-text">
                            @if (item.Content.Length <= 130)
                            {
                                @Html.DisplayFor(modelItem => item.Content)
                            }
                            else
                            {
                                @(item.Content.Substring(0, 130) + "...")
                            }
                            @if (item.MaxStoreCapacity > 0 && item.CategoryId != 1)
                            {
                                    <h3>Poziom zapełnienia magazynu:</h3>
                                    <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: @item.FillLevel%"></div>
                                    </div>
                            }
                        </p>

                            <a href="@Url.Action("Details", "Items", new{id = item.ItemId})" class="btn btn-primary">Czytaj >>></a>
                    </div>
                </div>
                </div>
            }
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
}
else
{
    <h1 class="primary">Zaloguj się aby zobaczyć więcej</h1>
}
