@model Gospodarstwo.Models.Item

@{
    ViewData["Title"] = "Usuwanie";
}

<h1 class="tekst2">Usuwanie</h1>

<h3 class="tekst2">Jesteś pewny, że chcesz usunąć przedmiot?</h3>
<div>
    <h4>Przedmiot</h4>
    <hr />
    <dl class="row">

    <dl class="row color1 tekst1">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
          <a asp-action="Index" class="btn btn-primary">Lista tekstów</a>
    </form>
</div>
