@model ItemsViewModel
@{
 ViewData["Title"] = "Lista przedmiotów";
}

<div class="container">
    <div class="row">
        <!--wyszukiwarka-->
        <div class="d-none d-md-block col-md-12 col-xl-3">
            <div class="card mt-2 shadow-sm">
                <div class="card-body">
                    @using(Html.BeginForm("Index", "Items", new { PageNumber = "1" }, FormMethod.Get))
                    {
                        <div class="row gt-3">
                            <div class="form-group col-auto">
                                <label for="Kategoria">Kategoria:</label>
                                @Html.DropDownList("Kategoria", ViewBag.Category, "---wszystkie---",htmlAttributes: new{@class = "form-control"})
                            </div>
                            <div class="form-group col-auto">
                                <label for="Autor">Autor:</label>
                                @Html.DropDownList("Autor", ViewBag.Author, "---wszyscy---",htmlAttributes: new{@class = "form-control"})
                            </div>
                            <div class="form-group col-auto">
                                <label for="Fraza">Fraza:</label>
                                <input type="text" class="form-control" id="Fraza" name="Fraza" placeholder="Szukany ciąg" value="@Model.ItemsView.Phrase">
                            </div>
                            <button type="submit" class="btn btn-primary mt-4 col-auto">Filtruj</button>
                        </div>
                    }
                </div>
            </div>
        </div>


        <!--lista tekstow-->
            <div class="col-xl-9">
            @if (Model.ItemsView.ItemCount > 0)
            {
                @foreach (var item in Model.Items)
                {
                    <div class="card">
                        <div class="card-header">
                            <h4 class="oswald text-primary">@item.ItemName</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="@Url.Content(item.Graphic == null ? "~/img/mini/zboze_m.jpg" : "~/img/mini/zboze_m.jpg")" alt="@item.Category.CategoryName" class="img-fluid" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title text-success">@item.User.FullName</h5>
                                    <p class="card-text"><small class="text-muted">Opublikowano: @item.AddedDate</small></p>
                                    <div class="position-relative">
                                        <a href="@Url.Action("Details", "Items", new{id = item.ItemId})" class="btn btn-outline-primary position-absolute bottom-0 end-0">Czytaj >>></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                }
            }
            else
            {
                <div class="alert alert-info d-flex align-items-center mt-2" role="alert">
                <i class="bi bi-info-circle-fill me-3"></i>
                Brak tekstów do wyświetlenia. Zmień parametry wyszukiwania.
                </div>
            }

            </div>


    </div>

    <!--Stronicowanie-->
    <div class="row mt-3">
        <nav aria-label="Nawigacja pomiędzy kolejnymi stronami">
            <ul class="pagination">
                @{
                    if(Model.ItemsView.PageNumber > 1)
                    {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Items", new{PageNumber = Model.ItemsView.PageNumber - 1,
                                    Kategoria = Model.ItemsView.Category, Autor = Model.ItemsView.Author, Fraza = Model.ItemsView.Phrase})">Poprzednia</a>"
                                    </li>
                    }
                    for (var i = 1; i<=Model.ItemsView.PageCount; i++)
                    {
                                <li class="@(i == Model.ItemsView.PageNumber ? "page-item active" : "page-active")">
                                    <a class="page-link" href="@Url.Action("Index", "Items", new{PageNumber = 1, 
                                Kategoria = Model.ItemsView.Category, Autor = Model.ItemsView.Author, Fraza = Model.ItemsView.Phrase})">@i</a>
                                </li>
                    }
                    if(Model.ItemsView.PageNumber < Model.ItemsView.PageCount)
                    {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Items", new{PageNumber = Model.ItemsView.PageNumber + 1, 
                                Kategoria = Model.ItemsView.Category, Autor = Model.ItemsView.Author, Fraza = Model.ItemsView.Phrase})">Następna</a>
                                </li>
                    }
                }
            </ul>
        </nav>
    </div>

</div>