@model Gospodarstwo.Models.Category

@{
    ViewData["Title"] = "Usuwanie";
}

<h1 class="oswald">Usuwanie</h1>

@{
    if (!String.IsNullOrEmpty(ViewBag.DeleteMessage))
    {
        <h5 class="alert alert-info" role="alert">
            <i class="bi-info-circle"></i>&nbsp;
            @ViewBag.DeleteMessage
        </h5>
    }
    else
    {
        <h5 class="alert alert-danger" role="alert">
            Czy na pewno chcesz usunąć tę
            kategorię?
        </h5>
    }
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
    </dl>
    
     <form asp-action="Delete">
            @{
                if (String.IsNullOrEmpty(ViewBag.DeleteMessage))
                {
                    <input type="hidden" asp-for="CategoryId" />
                    <input type="submit" value="Usuń" class="btn btn-danger" />
                }
            }
        <a asp-action="Index">Powrót do listy kategorii</a>
    </form>
</div>
