@model Gospodarstwo.Models.Note

@{
    ViewData["Title"] = "Szczegóły notatki";
}

<h1 class="oswald tekst2">Szczegółowe informacje</h1>
<hr />

<div>
    <dl class="row color1 tekst1">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
            <hr />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedDate)
            <hr />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedDate)
        </dd>
        <dt class = "col-sm-2">
            Przedmiot:
            <hr />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.Content)
        </dd>
        <dt class = "col-sm-2">
            Autor notatki:
            <hr />
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NoteId" class="btn btn-warning">Edycja notatki</a>
    <a asp-action="Index" class="btn btn-primary">Powrót do listy notatek</a>
</div>
